<h1>{{ 'product list' | uppercase }}</h1>

<table>
	<thead>
		<tr>
			<th></th>
			<th>product</th>
			<th>quantity</th>
			<th>price</th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngIf="products.length > 0; else empty">
			<tr *ngFor="let product of products">
				<td>
					<img src="{{ product.image }}" width="80" />
				</td>
				<td>{{ product.name }}</td>
				<td>
					<button (click)="updateQuantity('add', product)">+</button
					>{{ product.quantity
					}}<button (click)="updateQuantity('substract', product)">-</button>
				</td>
				<td>{{ product.price | currency : 'CZK' }}</td>
			</tr>
			<tr>
				<td colspan="4">
					<span>{{ totalPrice }}</span>
				</td>
			</tr>
		</ng-container>
        <ng-template #empty>
            <tr>
                <td colspan="4">
                    No products to display
                </td>
            </tr>
        </ng-template>
	</tbody>
</table>
