<div class="wrapper">
	<table>
		<thead>
			<tr class="border-bottom">
				<td colspan="4">
					<span id="main-title">Products list</span>
				</td>
			</tr>
			<tr class="border-bottom" class="columns">
				<th style="width: 10%"></th>
				<th style="width: 45%">Product</th>
				<th style="width: 20%">Quantity</th>
				<th style="width: 25%">Price</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngIf="products.length > 0; else empty">
				<tr *ngFor="let product of products" class="border-bottom">
					<td>
						<img src="{{ product.image }}" width="80" />
					</td>
					<td style="width: 45%" class="product-title">
						{{ product.name | titlecase }}
					</td>
					<td style="width: 20%">
						<div class="btns">
							<button (click)="updateQuantity('add', product.id)">
								<span>+</span>
							</button>
							<span>{{ product.quantity }}x</span>
							<button (click)="updateQuantity('substract', product.id)">
								<span>-</span>
							</button>
						</div>
					</td>
					<td
						style="width: 25%"
						class="price"
						[ngClass]="product.price > 0 ? 'red' : 'free'"
					>
						{{
							product.price > 0 ? (product.price | currency : 'CZK') : 'FREE'
						}}&nbsp;
						<img
							src="assets/img/trash.svg"
							width="24"
							(click)="deleteProduct(product.id)"
						/>
					</td>
				</tr>
			</ng-container>
			<ng-template #empty>
				<tr class="center">
					<td colspan="4">No products to display</td>
				</tr>
			</ng-template>
		</tbody>
	</table>
	<div class="footer">
		<div>
			<p *ngIf="totalPrice$ | async as totalPrice" class="red">
				{{ totalPrice | currency: 'CZK'  }}
			</p>
			<span class="info-text-gray">Total price including VAT</span>
		</div>
	</div>
</div>
